*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body{
    background-color: rgb(223, 206, 206);
}
.toggleContainer{
    margin-top: 20px;
    /* padding: 10px; */
    /* border: 2px solid red; */
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(173, 16, 16); */
    
    

}

#imageAnime{
    display: block;
    height: 100%;
    width: 20vw;
    border: 2px solid rgba(235, 17, 17, 0.811);
    border-radius: 50px;
    /* top: 10px; */
    filter: grayscale(40%);
    background-image: url('./anime/83a0f711-6b4a-4ec8-bb95-81a7d726.jpg');    
    background-size: cover;
    position: relative;
}



#animeWord{
    
    
    margin-left: 89px;
    margin-top: 11vh;
    font-size: 16px; 
    color: whitesmoke;
    transform: rotate(-10deg); 
 
}

#mainHeading{
    margin: auto;
    border-radius: 40px;
    background-color: rgba(194, 172, 172, 0.372);
    display: flex;
    width: 80vw;
    color: rgb(139, 20, 20);
    height: 10vh;
    margin-top: 10px;
    justify-content: center;
    align-items: center;

    

}


/* toggle is here now  */

#toggle{
   /* border:2px solid blue; */
   width: 13vw;
   height: 30%;
   margin-left: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   border-radius: 20px;
}

#circle{
    position: absolute;
    /* border: 2px solid green; */
    width: 56px;
    height: 60px;
    top: 181.5px;
    left:700px;
    border-radius: 50%;
    background-color: red;
    transition: transform 1s;
}
/* #toggle:hover #circle{
 transform:
} */
.image{
    width: 30%;
    height: 80%;
    /* border: 2px solid red; */
    border-radius: 50%;
}
.image.one{
    margin-left: 10px;
}

.image.two{
    margin-right: 10px;
}
.image img{
    width: 100%;
    height: 100%;
}

#darkVid{
    display: none;
}










